body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #f8fafc;
  margin: 0;
  padding: 0;
}

.buy-btn {
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: #0097a7;
}

header {
  text-align: center;
  background-color: #1e293b;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

h1 {
  margin: 0;
  color: #38bdf8;
}

.search-container {
  margin-top: 15px;
}

.search-container input {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  width: 250px;
  outline: none;
}

.search-container button {
  background-color: #06b6d4;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  margin-left: 5px;
}

.search-container button:hover {
  background-color: #0ea5e9;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background-color: #1e2a38;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  align-self: center; /* logo di tengah */
}

.card h2 {
  color: #00bcd4;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: left; /* tulisan tetap rata kiri */
}

.card ul {
  list-style-type: disc; /* munculkan bullet bulat */
  list-style-position: inside; /* bullet sejajar dengan teks */
  padding-left: 10px;
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
}

.card li {
  margin-bottom: 5px;
  font-size: 0.95rem;
}


.buy-btn {
  align-self: center; /* tombol di tengah */
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: #0097a7;
}
